body{
    margin: 0;
    background-color:#F7EFE5 ;
}

.montserrat-dome {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: 300;
  font-weight: 700;
  font-style: normal;
}
.leftpane{
    background-color: #E2BFD9;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
}
.left_function{
    margin: 0;
    background-color: #E2BFD9;
    border-radius: 15px;
    margin-top: 5px;
}
.rightpane{
    padding: 10px ;;
    background-color: #E2BFD9;
    border-radius: 15px;
    margin: 15px;

}
.chatn{
    border-radius: 15px;
    background-color: azure;
    padding: 10px;
    margin: 5px;;
}

/* CSS button and text area css*/
.button-33 {
    margin: 15px ;;
  background-color: #674188;
  border-radius: 100px;
  box-shadow: #C8A1E0 0 -25px 18px -14px inset,#C8A1E0 0 1px 2px,#C8A1E0 0 2px 4px,#C8A1E0 0 4px 8px,#C8A1E0 0 8px 16px,#C8A1E0 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;  
    transform: scale(1.05) rotate(-1deg);
}
.pretty-textarea {
    margin: 15px ;;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    resize: vertical; /* Allows only vertical resizing */
    outline: none; /* Removes default outline on focus */
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #C8A1E0;
}
.pretty-textarea:focus {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}
.pretty-textarea::placeholder {
    color: #888;
    font-style: italic;
}

.fav{
    height: 20px;
    width: 20px;
}

.highlight {
    background-color: yellow;
}












